.sidebar {
  position: fixed;
  top: 0; bottom: 0; left: 0;
  padding: 2rem 1rem;
  width: 36rem;
  background-color: #181818;
  text-align: left;
  font-size: 20px;
  color: #fff;
} 
.posts {
  padding-top:    2rem;
  padding-bottom: 2rem;
  margin-left: 36rem;
}
@media (max-width: 96rem) {
  .sidebar {
    width: 32rem;
    font-size: 20px;
  }
  .posts {
    margin-left: 32rem;
  }
}
@media (max-width: 64rem) {
  .sidebar {
    width: 20rem;
  }
  .posts {
    margin-left: 20rem;
  }
}
@media (max-width: 48rem) {
  .sidebar {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .posts {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.sidebar a {
  color: #fff;
}
.sidebar header {
  margin-left: 1em;
  color: #fff;
}
.sidebar hgroup {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}
.sidebar h1 {
  font-size: 3.2em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
.sidebar h2 {
  font-size: 1.6em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
.sidebar nav a {
  display: block;
}
.sidebar nav a:before {
  content: "○";
  margin-right: 1rem;
}
