<div class="sidebar">
  <header>
{% if site.logo %}
    <img class="logo" src="{{ site.baseurl }}{{ site.logo }}">
{% endif %}
    <hgroup>
      <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
      <h2>{{ site.description }}</h2>
    </hgroup>

    <nav>

      <a {% if page.url == site.baseurl %}class="active"{% endif %} href="{{ site.baseurl }}">Home</a>
    {% for node in site.pages %} {% if node.title != null and node.layout == "page" %}
      <a {% if page.url == node.url %}class="active"{% endif %}href="{{ node.url }}">{{ node.title }}</a>
    {% endif %} {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </header>
</div>
